<nav>
	<ul>
		<li><a href="{{ site.baseurl }}/">~# Home</a></li>
		<li><a href="{{ site.baseurl }}/#htb">~# Hack The Box</a></li>
		<li><a href="{{ site.baseurl }}/#vulnhub">~# Vulnhub</a>
		<li><a href="{{ site.baseurl }}/about">~# About</a></li>
		<!--<li><a href="{{ site.baseurl }}/#contact">~# Contact</a></li>
		<li><a href="{{ site.baseurl }}/#team">Team</a></li>
		<li><a href="{{ site.baseurl }}/#projects">Projects</a></li>
		<li><a href="{{ site.baseurl }}/#tools">Tools</a></li>
		<li><a href="{{ site.baseurl }}/#talks">Talks</a></li>
		<li><a href="{{ site.baseurl }}/#posts">Posts</a></li>
		<li><a href="{{ site.baseurl }}/#articles">Articles</a></li>
		<li><a href="{{ site.baseurl }}/rss.xml">RSS</a>/<a href="{{ site.baseurl }}/atom.xml">Atom</a></li>-->
	</ul>
</nav>
